snippet ff "Funcion Flecha"
const ${1:nameFuncion} = ($2) => {
    $3	
}
endsnippet

snippet ef "Funcion Flecha Export"
export const ${1:nameFuncion} = ($2) => {
    $3	
}
endsnippet

snippet cl "Imprimir en consola"
console.log($1)
endsnippet
